<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Metadata</key>
	<dict>
		<key>Version</key>
		<integer>21</integer>
	</dict>
	<key>Content</key>
	<array>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#1)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#2)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#3)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#4)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#5)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Text</key>
			<string>Give up you dirty pirate! (#6)</string>
			<key>Instructions</key>
			<string>This modded Zooted client is not a pirated Zooted client, after all! This was created as a proof-of-concept to circumvent Zooted's DRM because, if you are the server, you can just change the cards youself lol.</string>
			<key>Incompatibility</key>
			<dict>
				<key>When</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
